<h1>About the app</h1>

<h2 class="bg-info text-danger">GPT App Team 42</h2>
This is the GPT app for Team 42, which uses GPT3 to solve issues based on the preset prompts, and generate responses.<br>
Click <a href="https://github.com/emmalala123/TeamAwesome_COSI103/tree/2103969f715eea0d3519b1804938e662735ae770">here</a> to view our repository for reference. 
