<h1>Generate Python Code for a CSS File!</h1>
<form method="post" action="emmasPage">
    <h3>Please type a color scheme:</h3>
    <input type="text" name="prompt">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<h3>Response:</h3><br>
<br>
<h4>"pre" mode:</h4>
<pre><%= response %></pre>
 
 
