
    <br><h2>CS103a App - GPT Prompt Engineering</h2>
    <h3 class="text-danger">Team 42</h3>

    <li><a href="/ninaPage">Ask GPT to proofread your code</a> </li>
    <li><a href="/getResponseJames">Ask GPT to write a poem</a></li>
    <li><a href="/willsPage">Ask GPT to generate code for a game</a></li>
    <li><a href="/emmaPage"> Ask GPT to generate a CSS file with chosen color theme</a></li>
    <br><br>
    <!-- Here we show how to encode a URI and get weather data -->
    <% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
    <a href="https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=<%= address %>&benchmark=2020&format=json"> 
        Weather</a>
        <br>

  
    
  
