<h1>Write a poem based on the prompt you enter!</h1>
<form method="post" action="jamesPage">
    <h3>type in the theme tha you want gpt to use:</h3>
    <input type="text" name="prompt">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<h3>Response:</h3><br>
<h4>"div" mode:</h4>
<div><%= response %></div>
<br>
<h4>"pre" mode:</h4>
<pre><%= response %></pre>
 
 
