<h2>Our Team</h2>
        <h3>Emma Barash</h3>
        <ul>
            <li>Graduation Year: 2023</li>
            <li>Major: BS/MS Neuroscience, BA Computer Science</li>
            <li>Role: Created <a href="/emmaPage">CSS color-theme generator</a></li>
        </ul>
        <h3>Nina Zhang</h3>
        <ul>
            <li>Graduation Year: 2024 </li>
            <li>Major: Computer Science, Biology </li>
            <li>Role: Created <a href="/ninaPage">python checker</a> from prompt</li> 
        </ul>
        <h3>James Wang</h3>
        <ul>
            <li>Graduation Year: 2025 </li>
            <li>Major: Business, Computer Science</li>
            <li>Role: Created <a href="/getResponseJames">Ask GPT to write a poetry</a></li>
        </ul>
        <h3>William Messenger</h3>
        <ul>
            <li>Graduation Year: 2025</li>
            <li>Major: Business, Computer Science, Economics (minor)</li>
            <li>Role: Created <a href="/willsPage">python game</a> prompt</li>
        </ul>