<h1>Hello World!</h1>
<form method="post" action="willsPage">
    <input type="text" name="prompt">
    <br>
    <input type="submit" value="Submit">
</form>
<h3>
    Response:<br>
    <%= response %>
</h3>   
