<h1>Generate Python Code for a Game</h1>
<form method="post" action="willsPage">
    <h3>Type the name of a Game:</h3>
    <input type="text" name="prompt">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<h3>Response:</h3>  
<h4>"div" mode:</h4>
<div><%= response %></div>
<br>
<h4>"pre" mode:</h4>
<pre><%= response %></pre>
 
 
